html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}


/* section_fon */
.logo {
  margin-top: 7px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: 'Manrope', arial, sans-serif;
}

.fon {
  height: 1042px;
  background-image: url(../img/fon.jpeg);
  background-position: 60% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  padding-bottom: 120px;
  display: flex;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(224.64deg, rgba(255, 255, 255, 0) 13.642%, rgb(255, 255, 255) 51.5%, rgba(255, 255, 255, 0) 93.165%);
  opacity: 1;
  z-index: 100;
}

.header__wrap {
  display: flex;
  margin-top: 20px;
}

.naver {
  width: 391px;
  height: 26px;
  display: flex;
  align-items: center;
  margin: 0px -139px;
}

.many {
  margin-left: 172px;
  margin-right: -265px;
  margin-top: 6.5px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: -75px;
}

.btn {
  min-width: 199px;
  height: 58px;
  margin-left: 477px;
  margin-right: -472px;
  margin-top: -9px;
  padding: 0px 40px 0px 40px;
  border-radius: 4px;
  background: rgb(119, 114, 241);
  color: #fff;
  margin: -11px -351px 74px 353px;
}

.title__heading-text {
  width: 810px;
  height: 188px;
  margin-left: -856px;
  margin-right: 765px;
  margin-top: 272px;
  margin-bottom: -287px;
  font-size: 72px;
  line-height: 130%;
  color: aliceblue;
}

.btn_two {
  width: 220px;
  height: 52px;
  align-items: center;
  background: radial-gradient(174.94% 96.38% at 10% 14.000000000000002%, rgb(30, 33, 44), rgb(35, 36, 65) 56.381%, rgb(30, 33, 44) 100%);
  border-radius: 4px;
  margin-top: 341px;
  margin-left: -852px;
  color: #fff;
}

.play_btn {
  width: 52px;
  height: -88px;
  margin-left: -576px;
  right: 0%;
  margin-top: -53px;
  bottom: 0%;
}

.play_text {
  width: 74px;
  margin-left: 80px;
  right: -589px;
  margin-top: -35px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 0%;
}

.features {
  margin: 150px 490px -843px;
  color: #fff;
  display: flex;
}

.icon_box {
  width: 256px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 112px;
}

.sec_fet {
  position: static;
  width: 184px;
  height: 42px;
  display: flex;
  order: 1;
  flex-grow: 0;
  margin: 14px -290px;
}

.in-chart {
  height: -109px;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 206px -416px;
}

.divider {
  position: static;
  width: 40px;
  height: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 94px;
  transform: rotate(90.00deg);
  opacity: 0.4;
}

.img_person {
  position: relative;
  width: 590px;
  height: 526px;
  margin-top: -887px;
  margin-left: -86px;
}


/* select */
.__select {
  transition: 0.5s;
  position: relative;
  width: 111px;
  height: 40px;
  margin: 0 auto;
  margin-left: 52px
}

.__select[data-state=active] .__select__title::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}

.__select[data-state=active] .__select__title::after {
  transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state=active] .__select__content {
  opacity: 1;
}

.__select[data-state=active] .__select__label+.__select__input+.__select__label {
  max-height: 40px;
  border-top-width: 1px;
}