html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.logo {
  margin-top: 7px;
}

a {
  color: inherit;
  text-decoration: none;
}